@model DP_60321_TROSHKO.Models.Entities.Comments



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddComment</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm("AddComment", "Client", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="form-group">
                <label for="name" class="col-md-2 control-label">Текст отзыва:</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Text, null, new { @class = "form-control", placeholder = "Введите название" })
                </div>
            </div>

            <div class="form-group">
                <label for="name" class="col-md-2 control-label">Оценка работы:</label>
                <div class="col-md-10">
                    @*@Html.TextBoxFor(model => model.Rating, null, new { @class = "form-control", placeholder = "Введите название" })*@
                    <label class="radio"> @Html.RadioButtonFor(model =>model.Rating , 1) 1</label>
                    <label class="radio"> @Html.RadioButtonFor(model => model.Rating, 2) 2</label>
                    <label class="radio"> @Html.RadioButtonFor(model => model.Rating, 3) 3</label>
                    <label class="radio"> @Html.RadioButtonFor(model => model.Rating, 4) 4</label>
                    <label class="radio"> @Html.RadioButtonFor(model => model.Rating, 5) 5</label>  
                </div>
            </div>

 
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-info">Добавить</button>
                    </div>
                </div>

        }
    </div>
</body>
</html>
