@using DP_60321_TROSHKO.Models.Entities
@model DP_60321_TROSHKO.Models.PageInfo<DP_60321_TROSHKO.Models.Entities.AdPosts>


<div class="col-md-2" style="padding-top:60px">
    @Html.Action("LeftCategoriesC")
</div>

<div class="col-md-8" style="padding-top:70px;margin-bottom:1px">
    <ul class="list-group" style="vertical-align:top">
        @foreach (AdPosts AdPosts in Model)
        {
            <li class="list-group-item">
                <h3>
                    <a href="@Url.Action("FormContractor","Home",new {id=AdPosts.UserId })"> @AdPosts.Title</a>
                </h3>
                @*<div class="row" style="margin-top: 15px">
                    <div id="buttonleft" class="col-md-3">
                        @using (Html.BeginForm("AddOffer", "Home", new {id=AdPosts.AdPostId,s=AdPosts.UserId}))
                        {
                            <input type="submit" value="Предложить работу" class="btn-lg btn-primary" />
                        }
                    </div>
                    </div>*@
                <p>@AdPosts.Text</p>
                Идентификатор раздела объявления: <h3>@AdPosts.AdRazdId</h3>
                <p>
                    <a href="@Url.Action("ShowListPostsC","Home",new { id = AdPosts.AdCategoryId })">@AdPosts.AdCategories.Name</a> /
                    @AdPosts.Date /
                    @AdPosts.Town
                </p>

                
                    <h4>Подрядчик:@AdPosts.NameOfUser</h4>
                    <a href="@Url.Action("ShowComments", "Contractor", new { id = AdPosts.UserId})"> Отзывы</a>
            </li>

        }
    </ul>
    @Html.Partial("PagerPartial", Model)
</div>

@if (User.IsInRole("Подрядчик"))
{
    <div class="col-md-2" style="padding-top:100px">
        @Html.Action("PartialAddPostContractor")
    </div>
}


